*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  background: #000;
  padding: 20px;

  background-image: url('./assets/images.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1{
  color: #ffd54d;
  margin-bottom: 30px;
  text-shadow: 0 2px #ff9800;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 4px;
}

.search-box{
  margin-bottom: 25px;
}

.search-box input{
  padding: 10px;
  width: 20px;
  border-radius: 8px;
  border: 1px solid #ffd54d;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 8px #000;
  outline: none;
}

.search-box button{
  padding: 10px 15px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  background-color: #ff9800;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.search-box button:hover{
  background-color: #ffc107;
  box-shadow: 0 2px 8px #ff9800;
}

.cards-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card{
  background: #000;
  border-radius: 16px;
  padding: 12px;
  width: 230px;
  text-align: center;
  color: #fff;
  transition: all 200ms ease-in-out;
  border: 2px solid #ffb300;
  box-shadow: 
      rgba(255, 179, 0, 0.4)-5px 5px,
      rgba(255, 179, 0, 0.3)-10px 10px,
      rgba(255, 179, 0, 0.2)-15px 15px,
      rgba(255, 179, 0, 0.1)-20px 20px,
      rgba(255, 179, 0, 0.05)-25px 25px,
      ;
}

.card:hover{
  box-shadow: 
  rgba(255, 238, 88, 0.4)-5px 5px
  rgba(255, 238, 88, 0.3)-10px 10px
  rgba(255, 238, 88, 0.2)-15px 15px
  rgba(255, 238, 88, 0.1)-20px 20px
  rgba(255, 238, 88, 0.05)-25px 25px
  ;
  border-color: #ffeb3b;
  transform: scale(1.05);
}

.card img{
  width: 160px;
  height: 360px;
  object-fit: cover;
  border-radius: 100%;
  transition: all 20ms ease-in-out;
  border: 3px solid #ff9800;
  margin: 0 auto;
  display: block;
}

.card:hover img{
  border-radius: 12px;
  border-color: #ffeb3b;
}

.card h2{
  margin: 10px 0 5px;
  font-size: 22px;
  color: #ffeb3b;
  font-weight: bolder;
  letter-spacing: 3px;
  text-shadow: 0 2px 8px #ff9800;
}

.card p{
  font-size: 14px;
  color: #ffffffa9;
}

.card:hover p{
  color: #fff;
}

.card strong{
  color: #ffeb3b;
  font-weight: bold;
}
